<ion-header>
  <ion-navbar>
    <ion-title>
      Login with Facebook
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button color="secondary" (click)="loginwithfb()" *ngIf="!facebook.loggedIn">Login with Facebook</button>
  <button ion-button (click)="logoutwithfb()">Logout with Facebook</button>

  <ion-card *ngIf="facebook.loggedIn">

    <ion-item>
      <ion-avatar item-start>
        <img src="{{ facebook.profilePicture }}">
      </ion-avatar>
      <h2>{{facebook.name}}</h2>
      <p>{{facebook.email}}</p>
    </ion-item>

</ion-card>


</ion-content>
